html, body {
    margin: 0;
    height: 100%;

}

.bg {
    background-image: url("https://picsum.photos/800/600?random") ; 
    height: 100%;
    background-size: cover;
}

#login_card {
    top: 25%;
    left: 35%;
    position: fixed;
    width: 30%;
    padding: 15px;
}

input::placeholder {
    color: black;
    opacity: 0.7;
}