<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plan with me</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Materialize Stylesheeth   -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <!-- Materialize Icons  -->
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Materlize Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
 
  <!-- Chart -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <!-- Socket -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

  <!-- Logo -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <script src={{ url_for('static', filename='main.js') }} ></script>
  <link rel="stylesheet" type=
  "text/css" href={{ url_for('static', filename='style.css') }}/>
 </head>
<body class="container bg">
      
  {% if in_session  %}  
  <div class = "row">
    <div class = "col s12">
        <ul id="tabs_ul" class = "tabs">
          {% for tab in tabs %}
            <li class = "tab col s4"><a href = {{ '#' + tab['id'] }}> {{ tab['name'] }} </a></li>
          {% endfor %}          
        </ul>
     </div>
  </div>
  <div class="row">   
    <div id = "emotions" class = "col s12 white">
      <h4 align="center">Emotions</h4>
       <ul class="collapsible" style="padding: 5px" >
        {% for emotion in emotions %}
        <li>
          
          <div class="card collapsible-header" style="margin: 10px">
            <span style="float:left" class="card-title">{{ emotion['name'] }} </span>
              <div style="float:right" class="card-title"> 
                {% for i in range(emotion['value']) %}
                  <i class="material-icons" style={{ "font-size:40px;color:{}".format(star_color[emotion['value']]) }}> {{ emotion['icon'] }}</i>
                {% endfor %}
              </div>
          </div>
          
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        {% endfor %}
      </ul>

    </div>
    <div id = "activity" class = "col s12">
      <h4 align="center"> My Activity List </h4>
      <ul class="collapsible" id="activity_collapsible">
      {% for activity in activity_list %}
      <li>
        <div class="collapsible-header" style="margin: 10px">
          <span style="float:left" class="card-title">{{ activity['title'] }} </span>
          <div class="progress red lighten-4">
            <div class="determinate red" style="width:{{ time_left[activity['id']] }}%" ></div>
          </div>
        </div>
        <div class="card collapsible-body white" style="padding:1px" >
          <form action={{ "/delete_activity/" + activity['id']|string }} method="post" >
            <div class="card-content" > 

              {% if activity['body'] %}
              {% for subtask in activity['body'].split(';') %}      
                <div class="md-checkbox">
                    <input id={{ "subtask_{}_{}".format(activity['id'], loop.index )  }} name={{ "subtask_{}_{}".format(activity['id'], loop.index )  }} type="checkbox">
                    <label for={{ "subtask_{}_{}".format(activity['id'], loop.index )  }}> {{ subtask }} </label>
                </div>
              {% endfor %}
              {% endif %}
            </div>
            <div class="card-action">
              <button class="btn"> Update it </button>
              <input type="submit" style="float:right" class="btn" value="Completed" />          
            </div>
          </form>  
          </div>
      </li>
      {% endfor %}
      </ul>
    </div>
    <div id = "hormones" class = "col s12 white">
      <h4 align="center">Hormones</h4>
       <ul class="collapsible">
        {% for hormone in hormones %}
          <li>
            <div class="card collapsible-header" style="margin: 10px">
              <span style="float:left" class="card-title">{{ hormone['name'] }} </span>
              <div class="card-content">
                <p style="display:none" id={{ hormone['name'] + "_data" }}>{{ hormone['data'] }}</p>
                <canvas id={{ hormone['name'] + "_canvas" }}  width="400" height="100" ></canvas>
              </div>
            <div>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div> 

  <!-- Add Activity Modal Button -->
  <div class="fixed-action-btn">
    <button data-target="add_activity_modal" class="btn-floating btn-large red waves-effect btn modal-trigger">
      <i class="large material-icons">add</i>
    </button>
  </div>

  <!-- Modal to add activity -->
  <div id="add_activity_modal" class="modal">
    <div style="width: 90%" class="modal-content container">
      <h4 style="text-align: center" class="row"> Add your new activity </h4>

      <form action="/add_activity" method="post">
        
        <div class="row input-field">
          <input class="col s8 autocomplete" style="width:85%" name="activity_title" type="text" placeholder="eg. Go to gym" required/>
          <!-- <a href="#!" class=" col modal-close btn-floating"><i class="material-icons">hearing</i></a>           -->
        </div>
        <div class="row" >
            <h6 class="col s12">Consequence on completing</h6>
        </div> 

        {% for i in range(0,6,2) %}                
          <div class="row">
            <p class="col s2" >{{ emotions[i]['name'] }}</p>
            <p style="text-align: center" class="range-field col s4">
              <input style="width: 60%" type="range" name={{ emotions[i]['name'] + "_new" }} id={{ emotions[i]['name'] + "_new_activity" }} min="-3" max="3" />
            </p>            
            <p class="col s2" >{{ emotions[i+1]['name'] }}</p>            
            <p style="text-align: center" class="range-field col s4">
              <input style="width: 60%" type="range" name={{ emotions[i+1]['name'] + "_new" }} id={{ emotions[i+1]['name'] + "_new_activity" }} min="-3" max="3" />
            </p>
          </div>
        {% endfor %}
        <input class="row" style="width:85%" name="description" id="description" type="text" placeholder="Body: eg. Reach gym. Do biceps. Eat eggs"/>        
        <div class="row">
          <p class="col s2" >Deadline:</p>
          <input type="text" name="date" class="col s4 datepicker" placeholder="Date">
          <input type="text" name="time" class="col s4 timepicker" placeholder="Time">
        </div>
        <input class="row" name="snooze" type="number" placeholder="Snooze(minutes)"/>
        <input class="btn modal-close btn-flat" type="submit" value="Add Me" />        
      </form>

    </div>
  </div>
   
  {% else %}
    <!-- Login -->
    <div id="login_card" class="card">

        <span style="text-align: center" class="card-title"> Log In </span>
        
        <form method="post" action="/auth/login">
          <input name="username" id="username" placeholder="Username">
          <input type="password" name="password" id="password" placeholder="Password">
          <input class="btn" type="submit" value="Log In">
          <button style="float: right;" data-target="register_modal" class="btn blue modal-trigger">
            Register
          </button>
        
        </form>
        
    </div>

    <!-- Modal to register user -->
    <div id="register_modal" class="modal">
      <div class="modal-content">
  
        <h3 style="text-align: center" > Let's start </h3>
  
        <form action="/auth/register" method="post">
            <input name="username" id="username" required placeholder="Username">
            <input type="password" name="password" id="password" required placeholder="Password">
            <input type="submit" class="btn blue modal-trigger waves-effect" value="Register">
        </form>
      </div>
    </div>
   
  {% endif %}
</body>

</html>

